
* {
    box-sizing: border-box;
}

html,body{
    margin:0px;
    padding:0px;
}

[wizard-origin]{
    width: 900px;
    margin-top:100px;
    margin-left:100px;
}
[wizard-origin-heads]{
    width:100%;
}
[wizard-origin-heads]:after{
    content:'';
    display: table;
    clear:both
}
[wizard-origin-head]{
    float:left;
    text-align: center;
    position: relative;
    cursor: pointer;
}

[wizard-origin-head]>.progress-bar{
    position: relative;
    width: 100%;
    height:20px;
    margin:30px 0px;
    border-top:1px solid rgba(0,102,204,0.5);
    border-bottom:1px solid rgba(0,102,204,0.5);
}

[wizard-origin-head]>.progress-bar:after{
    content:'';
    position: absolute;
    top:0px;
    left:0px;
    height:102%;
    width:0px;
    background-color: #fff;
    transition: all .5s;
}

[wizard-origin-head].wizard-head-selected>.progress-bar:after{
    width:100%;
    background-color: #0066cc;
}

[wizard-origin-head]>.roll-big{
    position: absolute;
    z-index:100;
    width:40px;
    height:40px;
    top:20px;
    left:50%;
    display: inline-block;
    border-radius: 100%;
    background-color:#fff;
    color:rgba(0,51,153,0.7);
    line-height:38px;
    border:1px solid #0066cc;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transition: all .5s;
    transform:scale(1,1) translateX(-50%);
    -webkit-transform:scale(1,1) translateX(-50%);
    user-select: none;
    -webkit-user-select: none;
}

[wizard-origin-head].wizard-head-selected>.roll-big{
    transform: scale(1.3,1.3) translateX(-40%);
}

[wizard-origin-head]:hover>.roll-big,[wizard-origin-head].wizard-head-active>.roll-big{
    background-color: #003399;
    color:#fff;
}

[wizard-origin-panel]{
    width:100%;
    min-height:100px;
    display: none;
}

.ver-hor-center{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.hor-center{
    left:50%;
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
}

@keyframes roll-to-big{
    0% {
        transform: rotateZ(0deg);
        border-top-left-radius: 20px;
    }
    50%{
        transform: rotateZ(180deg) scale(1.27,1.27);
    }
    100% {
        transform: rotateZ(0deg) scale(1.67,1.67);
        border-top-left-radius: 100%;
    }
}
